@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

/* body{
    background: #272C3A;
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
main {
    margin: 0 2em 0 8em;
}
h1 {
    color: white;
    font-family: OpenSans;
    font-weight: 700;
    text-align:center;
    font-size: 3em;
}

.filters {
    text-align:center;
}

article {
    color: white;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.criminal__list {
    background-color: #1A1A1A;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.2em;
    margin-top: 2em;
    /* margin: .95em; */
    /* border: .5em groove white; */
    max-width: 250px;
    flex-basis: 15%;
    box-shadow: 00px 00px 15px 0px #cca8F0;
    /* text-align: center; */
}
  
.criminal__list.div {
    display:flex;
    border: 1px solid black;
}

.criminal__list .name {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.criminal__list .age {
}
.criminal__list .conviction {
    font-weight: bold;
    text-transform: capitalize;

}
.criminal__list .conviction__start { 
    font-style: italic;
}
.criminal__list .conviction__end {
    font-style: italic;
}


body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #272C3A;
    /* overflow: hidden; */
  }
  /* .cards{
      display: flex;
  } */
  .card {
    border-radius: 2rem;
    place-items:center;
    padding: 2.5rem;
    transition: 0.2s;
  }
  .card:not(:first-child) {
    margin-left: -7rem;
  }
  .card:not(:last-child):hover,
  .card:not(:last-child):focus-within {
    
    transform: translateY(-1.5rem);
    ~ .card {
      transform: translateX(3rem);
    }
  }