/*     

.card {
  display: inline;
  background-image: linear-gradient(
        transparent 0%,
        rgb(65, 199, 42) 50%,
        slategray 75%,
        transparent 85%,
        transparent 50%
    );
    background-repeat: no-repeat;
    background-size: 100% 40%;
    animation: animatedBackground 2.4s cubic-bezier(0.645, 0.045, 0.355, 1) 1s alternate-reverse;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 0%;
    }
} */